body, html
{
    background-color: #DEDECD;
    color: #FFFFFF;
}

#body_wrapper
{
    min-height: 950px;
    min-width: 900px;
    background-color: #FFFFFF;
    color: #000000;
}

.header
{
    
}

.menu_left
{

}

.main_display
{

}

#login div
{
    float: right;
}

#information_section
{
    margin-top: 100px;
    background-color: #CCCCCC;
    width: 100%;
    height: 300px;
    margin-bottom: 60px;
}

.info_small
{
    width: 250;
    float: left;
    margin: 10px 40px 10px 40px;
}

.info_small h3
{
    color: red;
}

.info_square
{
    border: thin solid black;
}


#registration_section
{
    width: 100%;
}

#registration_section img
{
    display: block;
    margin: 0 auto;
}
