body, html
{
    background-color: #DEDECD;
    color: #FFFFFF;
}

#body_wrapper
{
    min-height: 950px;
    min-width: 900px;
    background-color: #FFFFFF;
    color: #000000;
}

.header
{

}

.menu_left
{

}

.main_display
{

}

#login div
{
    float: right;
}

#information_section
{
    background-color: #999999;
}



#registration_section
{
    margin: 0 auto;
}

#registration_section img
{
    margin: 0 auto;
}
