.main_header
{
    border-bottom: medium double #CCCCCC;
}

.main_header h2
{
    padding: 0;
    margin: 0;
}

.main_body
{
    margin-left: 20px;
}

.person_name
{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: thin solid black;
}

.institution_name
{
    font-size: medium;
}

.working_title
{
    margin-left: 10px;
}

.project_list h4
{
    margin-left: 10px;
}
