.main_header
{
    border-bottom: medium double #CCCCCC;
    margin-bottom: 20px;
}

.main_header h2
{
    padding: 0;
    margin: 0;
}

.main_body
{
    margin-left: 10px;
}

.people_search input
{
    margin-bottom: 10px;
    margin-right: 5px;
}

.person_name
{
    margin-bottom: 3px;
}

.institution_name
{
    font-size: small;
}

.search_results p
{
    margin-left: 10px;
    margin-top: 0;
}
